/* Estilos existentes */
.gestao-transporte-page {
    position: relative;
    min-height: 100vh;
    background: url('../images/image1.png') no-repeat center center fixed;
    background-size: cover;
}

.header {
    background: rgba(48, 71, 94, 0.9);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

.gestao-container {
    background-color: rgba(48, 71, 94, 0.9);
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    /* Aumentar a largura máxima */
    margin: 50px auto;
    box-shadow: 0px 0px 10px rgba(48, 71, 94, 0.9);
    color: white;
}

.gestao-container .logo {
    display: block;
    margin: 0 auto 20px;
    width: 100px;
    height: auto;
}

.gestao-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-control {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    background-color: #6c63ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5753d1;
}

/* Estilos para a tabela de Meus Transportes */
.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    border-radius: 10px;
    overflow: hidden;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #f5f5f5;
}

.table td p {
    margin: 5px 0;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions .btn-warning {
    background-color: #ffc107;
    color: white;
}

.actions .btn-danger {
    background-color: #dc3545;
    color: white;
}

.actions .btn-warning:hover {
    background-color: #e0a800;
}

.actions .btn-danger:hover {
    background-color: #c82333;
}